# 3D Modeling 시장 규모 조사

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
real_estate_trade = pd.read_csv('E:/Git/data/3D_modeling_market_size_research/서울시 부동산 실거래가 정보.csv', encoding = 'cp949')

In [4]:
real_estate_trade.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2022,11710,송파구,10800,문정동,1.0,대지,639.0,5.0,힐스테이트에코송파,...,19000,21.06,31.38,10.0,NaN,NaN,2017.0,오피스텔,중개거래,서울 송파구
1,2022,11560,영등포구,12600,양평동2가,1.0,대지,43.0,14.0,CO-OP Residence/오목교,...,12500,26.38,41.30,10.0,NaN,NaN,2004.0,오피스텔,중개거래,서울 영등포구
2,2022,11500,강서구,10300,화곡동,1.0,대지,366.0,39.0,더그린,...,19700,36.39,22.43,6.0,NaN,NaN,2015.0,연립다세대,직거래,NaN
3,2022,11500,강서구,10500,마곡동,1.0,대지,758.0,3.0,마곡헤리움2차,...,16500,22.51,33.97,3.0,NaN,NaN,2016.0,오피스텔,중개거래,서울 강서구
4,2022,11740,강동구,10900,천호동,NaN,NaN,NaN,NaN,NaN,...,96000,164.40,171.00,NaN,NaN,NaN,1978.0,단독다가구,중개거래,서울 강동구

In [5]:
real_estate_trade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640000 entries, 0 to 639999
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              640000 non-null  int64
 1   자치구코드             640000 non-null  int64
 2   자치구명              640000 non-null  object
 3   법정동코드             640000 non-null  int64
 4   법정동명              640000 non-null  object
 5   지번구분              591190 non-null  float64
 6   지번구분명             591190 non-null  object
 7   본번                591200 non-null  object
 8   부번                591200 non-null  float64
 9   건물명               591181 non-null  object
 10  계약일               640000 non-null  int64
 11  물건금액(만원)          640000 non-null  int64
 12  건물면적(㎡)           640000 non-null  float64
 13  토지면적(㎡)           481273 non-null  float64
 14  층                 591227 non-null  float64
 15  권리구분              5786 non-null    object
 16  취소일               15975 non-null   float64
 17  건축년도              637452 non-null  float64
 18  건물용도              640000 non-null  object
 19  신고구분              54707 non-null   object
 20  신고한 개업공인중개사 시군구명  40785 non-null   object
dtypes: float64(7), int64(5), object(9)
memory usage: 102.5+ MB

In [7]:
real_estate_trade.describe()

,접수연도,자치구코드,법정동코드,지번구분,부번,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,취소일,건축년도
count,640000.000000,640000.000000,640000.000000,591190.000000,591200.000000,6.400000e+05,6.400000e+05,640000.000000,481273.000000,591227.000000,1.597500e+04,637452.000000
mean,2019.693152,11449.430805,10934.587031,1.002578,31.127527,2.019714e+07,6.025837e+04,70.903506,35.594373,6.631839,2.020782e+07,1983.723094
std,1.224371,171.839847,1245.512641,0.067731,128.376086,1.217231e+04,6.859770e+04,67.563829,182.903578,5.775905,7.098636e+03,190.280827
min,2017.000000,11110.000000,10100.000000,1.000000,0.000000,2.018012e+07,1.700000e+03,5.070000,0.000000,-3.000000,2.020022e+07,0.000000
25%,2019.000000,11305.000000,10200.000000,1.000000,0.000000,2.019030e+07,2.390000e+04,39.050000,0.000000,3.000000,2.020082e+07,1993.000000
50%,2020.000000,11470.000000,10500.000000,1.000000,2.000000,2.020030e+07,3.995000e+04,59.400000,25.110000,5.000000,2.021022e+07,2002.000000
75%,2021.000000,11590.000000,10900.000000,1.000000,18.000000,2.021013e+07,7.450000e+04,84.780000,37.500000,10.000000,2.021100e+07,2012.000000
max,2022.000000,11740.000000,18700.000000,3.000000,4813.000000,2.022073e+07,1.108778e+07,3619.840000,119119.000000,73.000000,2.022073e+07,2022.000000

In [14]:
real_estate_trade_edit1 = real_estate_trade[['접수연도', '자치구명', '건물명', '계약일', '물건금액(만원)', '건물면적(㎡)', '층', '건축년도']]

In [15]:
real_estate_trade_edit1

,접수연도,자치구명,건물명,계약일,물건금액(만원),건물면적(㎡),층,건축년도
0,2022,송파구,힐스테이트에코송파,20220727,19000,21.06,10.0,2017.0
1,2022,영등포구,CO-OP Residence/오목교,20220727,12500,26.38,10.0,2004.0
2,2022,강서구,더그린,20220727,19700,36.39,6.0,2015.0
3,2022,강서구,마곡헤리움2차,20220727,16500,22.51,3.0,2016.0
4,2022,강동구,NaN,20220727,96000,164.40,NaN,1978.0
...,...,...,...,...,...,...,...,...
639995,2018,용산구,NaN,20180116,102000,54.35,NaN,1958.0
639996,2018,성동구,(1198-0),20180116,28000,36.63,1.0,1994.0
639997,2018,광진구,NaN,20180116,52000,93.42,NaN,1992.0
639998,2018,성북구,꿈의숲대명루첸아파트,20180116,49500,84.84,5.0,2008.0
639999,2018,동대문구,NaN,20180116,25000,91.89,NaN,1993.0

In [ ]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set(style = 'darkgrid')
import matplotlib.font_manager as fm
font_list = [font.name for font in fm.fontManager.ttflist]
font_list